@mixin link($text-color, $bg-color) {
  text-decoration: none;
  display: inline-block;
  border: 2px solid $primary-color;
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 12px;
  font-weight: 500;
  color: $text-color;
  background-color: $bg-color;
}

@mixin hover($hover-bg-color, $hover-txt-color, $hover-border-color) {
  &:hover {
    transition: ease-in-out all 0.55s;
    background-color: $hover-bg-color;
    color: $hover-txt-color;
    border-color: $hover-border-color;
  }
}
